nav {
  text-align: center;
}
.menusel{
  display: inline-block;
  border: 1px solid #000;
  padding: 3px;
  color: rgb(81, 0, 255);
}
section {
  margin: auto;
  width: 800px;
  border: 1px solid red;
}
footer {
  margin: auto;
  width: 800px;
  text-align: center;
}
figure {
  margin: auto;
  width: 800px;
}
